MIDIDriverSample/target
MIDIDriver/target
MIDIDriver/.settings
MIDIDriverSample/.settings
MIDIDriver/bin
MIDIDriverSample/bin
MIDIDriver/gen
MIDIDriverSample/gen
MIDIDriverSample/build
MIDIDriver/build
.idea
.gradle
*.iml
local.properties
build/intermediates
